<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
</head>
<body>

<form method="post">
  {% csrf_token %}
  <input type="text" name="city" placeholder="Enter city name">
  <button type="submit">Weather</button>
</form>

<div class="weather-container">
  {% if weather_data1 %}
    <div class="city-container">
      {% include 'city_weather.html' with weather_data=weather_data1 daily_forecasts=daily_forecasts1 %}
    </div>
  {% endif %}
</div>

</body>
</html>